.footer--wrapper {
                    @media screen and (max-width: 1199px) {

                    margin-right: 165px;
                    // margin-bottom: 60px;
    }
          @media screen and (max-width: 767px) {
    flex-direction: column;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    }
      display: block;
}

.footer--display {
                @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    }
          @media screen and (max-width: 767px) {
    flex-direction: column;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    }
      display: flex;
  align-items: baseline;
}

.footer {
  background-color: var(--box-fon-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  font-style: normal;
}

.address__text {
  color: var(--primary-white-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
            @media screen and (max-width: 767px) {
  margin-bottom: 8px;
    }
}

.address__link {
  color: var(--primary-white-color);
  opacity: 0.6;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
&:focus{
  color: var(--accent-color);
}
}

.address__item {
  margin-bottom: 9px;
              @media screen and (max-width: 767px) {
  margin-bottom: 8px;
    }
}

.address__links {
  color: var(--primary-white-color);
  opacity: 0.6;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: inline-block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
&:focus {
  color: var(--accent-color);
}
            @media screen and (max-width: 767px) {
  margin-bottom: 60px;
    }
}




