.header__pad {
  display: flex;
  align-items: center;
}

.header{
  background-color: var(--primary-white-color);
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}