.backdrop{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%) scale(1);
  width:528px;
height:581px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
background-color: var(--primary-white-color);
transition-property: visibility, transform, opacity;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
padding: 40px 40px;
}

.modal__btn{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
&:focus{
  fill: var(--accent-color);
}
}

.modal__text{
  font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-text-color);
margin-bottom: 12px;
}

.fieldset__label{
  font-weight: 400;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.01em;
color: var(--form-text-color);
display: block;
margin-bottom: 4px;
}

.fieldset__input{
  display: block;
width: 448px;
height: 40px;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
padding-left: 42px;
outline: none;
transition-property: border-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
margin-bottom: 10px;
&:focus{
  border-color: var(--accent-color);
};
&:focus + .fieldset__icon{
  fill: var(--accent-color);
}
}


.fieldset__comment{
  width: 448px;
height: 120px;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
margin-bottom: 20px;
resize: none;
padding-top:12px;
padding-left:  16px;
outline: none;
transition-property: border-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
&::placeholder{
  font-weight: 400;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.01em;
color: rgba(117, 117, 117, 0.5);
};
&:focus{
  border-color: var(--accent-color);
}
}

.modal button{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.fieldset__wrapper{
  position: relative;
}

.fieldset__icon{
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
transition-property: fill;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__block{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.policy{
  font-size: 14px;
    line-height: 1.71;
   display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.policy__checkbox {
  position: absolute;
  appearance: none;
  &:checked + .policy .policy__icon {
  background-color: var(--accent-color);
  border-color: transparent;
}
&:focus + .policy .policy__icon {
  border-color: var(--accent-color);
  }
}

  .policy__icon {
  margin-right: 8px;
  border: 2px solid #000000;
  border-radius: 4px;
}

.policy__link {
  color: var(--accent-color);
}

.backdrop.is-hidden .modal {
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
}

.is-hidden{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}