.button__hero {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 87;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  border-radius: 4px;
  border-width: 0px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   &:hover,
   &:focus {
  background-color: var(--button-color);
}
}


.subscription__btn{
  font-weight: 700;
font-size: 16px;
line-height: 1.87;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--primary-white-color);
width: 200px;
height: 50px;
background-color: var(--accent-color);
border-radius: 4px;
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding-left: 29px;
border: none;
&:hover,
&:focus{
  background-color: var(--button-color);
}
}

.modal__button{
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.modal__button{
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
color: var(--primary-white-color);
padding: 10px 55px;
margin-inline: auto;
background-color: var(--accent-color);
border-radius: 4px;
 border-width: 0px;
 transition-property: background-color, box-shadow;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus{
  background-color: var(--button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
}

.modal__button {
  display: block;
  margin-top: 27px;
   @media screen and (max-width: 1199px) {
      margin-top: 31px;
    }
}


.categories {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
      @media screen and (max-width: 767px) {
      list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 8px;
    row-gap: 15px;
    margin-bottom: 40px;
    }
}

.categories__item {
  display: block;
   &:not(:last-child),
 &:not(:last-child) {
  margin-right: 50px;
}
&:not(:last-child) {
  margin-right: 8px;
}
}

.categories__btn {
  background-color: var(--title-button-color);
  border-radius: 4px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding: 6px 22px 6px 22px;
  border: 0px;
  transition-property: box-shadow, color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
&:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
&:hover,
 &:focus {
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
              @media screen and (max-width: 767px) {
font-size: 24px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
    }
}


