.navigation {
  display: flex;
  align-items: center;
}

.navigation__list a {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}

.navigation__list,
.navigation__lists{
  display: flex;
  display: none;
}


.navigation__item {
  display: block;
  display: none;
}

.navigation__lists .navigation__item:not(:last-child),
.navigation__list .navigation__item:not(:last-child) {
  margin-right: 50px;
}


.navigation__link--active{
  color: var(--accent-color);
}

.navigation__link{
  position: relative;
  &:hover,
&:focus{
  color: var(--accent-color);
}
}

.navigation__link--active::after {
  content: '';
  display: inline-block;
  background:var(--accent-color);
  border-radius: 2px;
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0px;
  bottom: 0px;
}

.navigation__lists,
.navigation__info{
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__icon {
  fill: currentColor;
  margin-right: 10px;
}

.navigation__info:hover,
.navigation__info:focus{
  color: var(--accent-color);
}

.navigation__lists {
  margin-left: auto;
  display: none;

}


.menu-open{
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: transparent;
  display: block;
  margin-left: auto;
}

.menu-open{
      @media screen and (min-width: 768px){
        display: none;
  }
}

.menu-close{
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: transparent;
  display: block;
  margin-left: auto;
  
  &:hover,
&:focus{
  fill: var(--button-color);
}
}

.mob-mebu{
  position: absolute;
  background-color: var(--primary-white-color);
  width: 100vw;
  height: 100vh;
  top:0;
  // padding-top: 48px;
  // padding-bottom: 48px;
  .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}

.mob-navigation__link{
  font-weight: 500;
font-size: 40px;
line-height: 1.17;
letter-spacing: 0.02em;
color:var(--title-text-color);
text-decoration: none;
  &:hover,
&:focus{
  color: var(--accent-color);
}
}

.mob-navigation__item:not(:last-child){
  margin-bottom: 35px;
}

.mob-navigation__list{
  margin-bottom: 302px;
}

.mob-connect__info{
  font-weight: 500;
font-size: 34px;
line-height: 1.17;
letter-spacing: 0.02em;
color: var(--accent-color);
text-decoration: none;
}


.mob-connect__info{
  display: block;
  margin-bottom: 32px;
}

.mob-connect__infor{
  display: block;
  margin-bottom: 64px;
}

.mob-soc__list{
  display: flex;
  font-weight: 500;
font-size: 18px;
line-height: 1.22;
letter-spacing: 0.02em;
color: var(--accent-color);
}

.mob-soc{
  position: relative;
}

.mob-soc__bord::before{
  content: "";
  position: absolute;
  background-color: rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  text-align: center;
width: 22px;
height: 1px;
}

.mob-soc__item:not(:last-child){
  margin-right: 20px;
}

.mob-connect__infor{
  font-weight: 500;
font-size: 24px;
line-height: 1.16;
letter-spacing: 0.02em;
color: var(--form-text-color);
text-decoration: none;
}

.mob-soc__link{
  font-weight: 500;
font-size: 18px;
line-height: 1.22;
letter-spacing: 0.02em;
color: var(--accent-color);
text-decoration: none;
}