.navigation {
  display: flex;
  align-items: center;
}

.navigation__list a {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}

.navigation__list{
   @media screen and (max-width: 1199px){
        margin-right: 88px;
  }
}

.navigation__list,
.navigation__lists{
  display: none;
  @media screen and (min-width: 768px){
        display: flex;
        margin-left: auto;
  }
}

.navigation__info:not(:last-child){
      @media screen and (max-width: 1199px){
       margin-bottom: 10px;
  }
}


.navigation__item {
  display: block;
}

.navigation__list .navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__lists .navigation__item:not(:last-child){
   @media screen and (min-width: 1200px){
       margin-right: 30px;
  }
}


.navigation__link--active{
  color: var(--accent-color);
}

.navigation__link{
  position: relative;
  &:hover,
&:focus{
  color: var(--accent-color);
}
}

.navigation__link--active::after {
  content: '';
  display: inline-block;
  background:var(--accent-color);
  border-radius: 2px;
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0px;
  bottom: 0px;
}

.navigation__lists,
.navigation__info{
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            @media screen and (max-width: 1199px){
        margin-left: auto;
        font-size: 12px;
line-height: 1.16;
letter-spacing: 0.02em;
  }
}

.navigation__lists{
    @media screen and (max-width: 1199px){
        display: flex;
        flex-direction: column;
    justify-content: center;
    .navigation__item:first-child {
    margin-bottom: 10px;
  }
  margin-left: auto;
   align-items: flex-start;
}
  }

.navigation__info{
          @media screen and (max-width: 1199px){
        margin-left: auto;
  }
}

.navigation__icon {
  fill: currentColor;
  margin-right: 10px;
   @media screen and (max-width: 1199px){
        margin-right: 8px;
  }
}

.navigation__icon--mail{
  @media screen and (max-width: 1199px){
         width: 12px;
  height: 10px;
  }

}

.navigation__icon--phone{
   @media screen and (max-width: 1199px){
  height: 14px;
  }
}

.navigation__info:hover,
.navigation__info:focus{
  color: var(--accent-color);
}

.navigation__lists {
  margin-left: auto;
  display: none;
        @media screen and (min-width: 768px){
        display:flex;
  }
}


.button-open{
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: transparent;
  display: block;
  margin-left: auto;
    transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
&:focus{
  fill: var(--button-color);
}
        @media screen and (min-width: 768px){
        display: none;
  }
}


.menu-close{
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: transparent;
  display: block;
  margin-left: auto;
    transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
&:focus{
  fill: var(--button-color);
}
// margin-left: auto;
//     z-index: 1000;
}

.mob-mebu{
  position: absolute;
  background-color: var(--primary-white-color);
  width: 100vw;
  height: 100vh;
  top:0;
  z-index: 999;
  padding-top: 10px;
  padding-bottom: 48px;
    overflow-y: scroll;
  .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
      align-items: flex-start;
  }
        @media screen and (min-width: 768px){
        display: none;
  }
}

.mob-navigation__link{
  font-weight: 500;
font-size: 40px;
line-height: 1.17;
letter-spacing: 0.02em;
color:var(--title-text-color);
text-decoration: none;
    transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
&:focus{
  color: var(--accent-color);
}
}

.mob-navigation__item:not(:last-child){
  margin-bottom: 32px;
}

.mob-navigation__list{
  margin-bottom: 302px;
    padding-inline-start: 25px;
}

.mob-connect{
    padding-inline-start: 25px;
}

.mob-connect__info{
  font-weight: 500;
font-size: 34px;
line-height: 1.17;
letter-spacing: 0.02em;
color: var(--accent-color);
text-decoration: none;
}


.mob-connect__info{
  display: block;
  margin-bottom: 32px;
}

.mob-connect__infor{
  display: block;
  margin-bottom: 64px;
}

.mob-soc__list{
  display: flex;
  font-weight: 500;
font-size: 18px;
line-height: 1.22;
letter-spacing: 0.02em;
color: var(--accent-color);
 padding-inline-start: 15px;
}

.mob-soc{
  position: relative;
}

.mob-soc__item:not(:last-child){
      border-right: 1px solid rgba(33,33,33,0.2);
}


.mob-connect__infor{
  font-weight: 500;
font-size: 24px;
line-height: 1.16;
letter-spacing: 0.02em;
color: var(--form-text-color);
text-decoration: none;
}

.mob-soc__link{
  font-weight: 500;
font-size: 18px;
line-height: 1.22;
letter-spacing: 0.02em;
color: var(--accent-color);
text-decoration: none;
padding-right: 10px;
padding-left: 10px;
}

