body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

   @media screen and (max-width: 767px){
      body.menu-open{
        overflow: hidden;
      }
  }

.section {
  padding-top: 94px;
  padding-bottom: 94px;
    @media screen and (max-width: 1119px){
  padding-top: 60px;
  padding-bottom: 60px;
  }
}

.section.no-pad {
  padding-bottom: 0px;
}
